#main-profile-box {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}

#main-profile-details {
  display: flex;
  justify-content: space-between;
}

img {
  height: 128px;
  width: 128px;
  border-radius: 100%;
  margin-right: 10px;
}
