<div id="main-profile-box">
  <div id="main-profile-details">
    <img src="{{user.avatarUrl}}}" alt="avatar">
    <div>
      <span>{{user.userName}}</span><br>
      <span>z nami od {{howLongWithUs}} lat</span><br>
      <span>{{user.description}}</span>
    </div>
  </div>

  <div id="main-profile-statistics">
    Przeszedł: {{user.totalDistance}} km <br>
    W ostatnim miesiącu: {{user.currentMonthDistance}} km <br>
    Autor {{user.routesCreated}} tras <br>
    <a [routerLink]="['/friends', userId]">Znajomi</a>
  </div>
</div>

<h3>Ostatnia aktywność:</h3>

<div class="profile-last-activity">

</div>
