# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/node_modules

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
package-lock.json

# Openapi
/libs/openapi/openapi-sc/src/*
/libs/openapi/openapi-customer/src/*
/libs/openapi/openapi-med/src/*
/libs/openapi/openapi-offer/src/*
/libs/openapi/openapi-vou/src/*
/libs/openapi/openapi-nil/src/*
/libs/openapi/openapi-payment/src/*
/libs/openapi/openapi-nip/src/*
/libs/openapi/openapi-resource/src/*
/libs/openapi/openapi-content/src/*
/libs/openapi/openapi-social-net/src/*
/libs/openapi/openapi-notification/src/*
/libs/openapi/openapi-mail-sender/src/*
/libs/openapi/openapi-medicament/src/*
/libs/openapi/openapi-log/src/*
/libs/openapi/openapi-recommendation/src/*

# Openapi$
/libs/openapi/openapi-sc/src$/*
/libs/openapi/openapi-customer/src$/*
/libs/openapi/openapi-med/src$/*
/libs/openapi/openapi-offer/src$/*
/libs/openapi/openapi-vou/src$/*
/libs/openapi/openapi-nil/src$/*
/libs/openapi/openapi-payment/src$/*
/libs/openapi/openapi-nip/src$/*
/libs/openapi/openapi-resource/src$/*
/libs/openapi/openapi-content/src$/*
/libs/openapi/openapi-social-net/src$/*
/libs/openapi/openapi-notification/src$/*
/libs/openapi/openapi-mail-sender/src$/*
/libs/openapi/openapi-medicament/src$/*
/libs/openapi/openapi-recommendation/src$/*
/libs/openapi/openapi-log/src$/*
