<div class="search-page">
  <div class="search-top-box">
    <input type="text" placeholder="Wyszukaj miejsce" id="place-search-input" [(ngModel)]="searchInputValue">
    <button class="search-btn"><i class="fa-solid fa-magnifying-glass fa-xl search-icon" (click)="searchForPlace()"></i></button>
  </div>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="slide-in-container" *ngIf="searchResult.id > 0" [ngClass]="{'visible': isSlideInVisible}">
  <div class="toggle-button">
    <button (click)="toggleSlideIn()"> {{ isSlideInVisible ? '&darr;' : '&uarr;' }} </button>
  </div>
  <div class="slide-in-header">
    <h3>{{searchResult.name}}</h3>
  </div>
  <div class="slide-in-content" [ngClass]="{'visible': isSlideInVisible}">
    <img [src]="searchResult.pictureUrl" alt="place-image">
    <div class="slide-in-info">
      <div class="slide-in-type-rating">
        <div>
          {{searchResult.type}}
        </div>
        <div class="star-rating">
          <app-star-rating [rating]="searchResult.rating"></app-star-rating>
        </div>
      </div>
      <div>
        <button [routerLink]="['/list/byPlace', searchResult.id]">Znajdź powiązane trasy</button>
      </div>
    </div>
    <div class="slide-in-address">
      {{searchResult.address}}
    </div>
  </div>
</div>

