<h2>Zaloguj się!</h2>

<form id="log-in-form">
  <div class="form-control">
    <label>Wprowadź nazwę użytkownika lub adres e-mail:</label>
    <input type="text" id="log-in-username-input">
  </div>

  <div class="form-control">
    <label>Wprowadź hasło:</label>
    <input type="password" id="log-in-password-input">
  </div>

  <div id="log-in-additional-options">
    <div id="log-in-register-option-box">
      <span>Nie masz jeszcze konta?</span> <br>
      <a href="">Zarejestruj się!</a>
    </div>
    <div id="log-in-forgot-password-box">
      <a href="">Zapomniałem hasła!</a>
    </div>
  </div>

  <div id="log-in-oauth-buttons">
    <button>Zaloguj przy pomocy Google</button>
    <button>Facebook</button>
    <button>AppleID</button>
  </div>

  <button>Zaloguj</button>
</form>
