<h2>Zaloguj się!</h2>

<form id="log-in-form" [formGroup]="loginForm">
  <div class="form-control">
    <label>Wprowadź nazwę użytkownika lub adres e-mail:</label>
    <input type="text" id="log-in-username-input" formControlName="username">
  </div>

  <div class="form-control">
    <label>Wprowadź hasło:</label>
    <input type="password" id="log-in-password-input" formControlName="password">
  </div>

  <div id="log-in-additional-options">
    <div id="log-in-register-option-box">
      <span>Nie masz jeszcze konta?</span> <br>
      <a routerLink="/register">Zarejestruj się!</a>
    </div>
    <div id="log-in-forgot-password-box">
      <a routerLink="/forgotPassword">Zapomniałem hasła!</a>
    </div>
  </div>

  <div id="log-in-oauth-buttons">
    <button routerLink="/" (click)="logInWithOauth()">Zaloguj przy pomocy Google</button>
    <button routerLink="/" (click)="logInWithOauth()">Facebook</button>
    <button routerLink="/" (click)="logInWithOauth()">AppleID</button>
  </div>

  <button (click)="logInWithCredentials()">Zaloguj</button>
</form>
