<h2>Zaloguj się!</h2>

<form id="log-in-form" [formGroup]="loginForm">
  <div class="form-control">
    <label>Wprowadź nazwę użytkownika lub adres e-mail:</label>
    <input type="text" id="log-in-username-input" formControlName="username">
  </div>

  <div class="form-control">
    <label>Wprowadź hasło:</label>
    <input type="password" id="log-in-password-input" formControlName="password">
  </div>

  <div id="log-in-additional-options">
    <div id="log-in-register-option-box">
      <span>Nie masz jeszcze konta?</span> <br>
      <div routerLink="/register" class="link">Zarejestruj się!</div>
    </div>
    <div id="log-in-forgot-password-box">
      <div routerLink="/forgotPassword" class="link">Zapomniałem hasła!</div>
    </div>
  </div>

  <div id="log-in-oauth-buttons">
    <button class="login-google" routerLink="/" (click)="logInWithOauth()"><i class="fa-brands fa-google"></i><a class="login-google-auth-text">Zaloguj przy pomocy Google</a></button>
    <button class="login-apple" routerLink="/" (click)="logInWithOauth()"><i class="fa-brands fa-apple"></i></button>
    <button class="login-fb" routerLink="/" (click)="logInWithOauth()"><i class="fa-brands fa-facebook"></i></button>
  </div>

  <button class="login-btn" (click)="logInWithCredentials()">Zaloguj</button>
</form>
