@import '/src/colors.less';

header {
  background-color: @theme-dark-blue;
  color: @theme-orange;
  font-size: 18vw;
  font-weight: bold;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#menu-body {
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

button{
  background: rgb(59,153,157);
  color:#fff;
  border:none;
  position:relative;
  height:20vw;
  width:100%;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

#menu-body {
  overflow: hidden;
}