<div id="create-account-header">
  <div id="create-account-welcome-box">
    Witaj w <span class="create-account-yellow-font">E-Turysta</span>!<br>
    <span id="create-account-bigger-text">Zarejestruj się!</span>
  </div>
  <div id="create-account-log-in-box">
    Masz już konto? <br>
    <div routerLink="/login" class="create-account-yellow-font link">Zaloguj się!</div>
  </div>
</div>

<form id="create-account-form">
  <div class="form-control">
    <label>Wprowadź adres e-mail:</label>
    <input type="text" id="create-account-email-input">
  </div>

  <div class="form-control">
    <label>Wprowadź nazwę użytkownika:</label>
    <input type="text" id="create-account-username-input">
  </div>

  <div class="form-control">
    <label>Wprowadź hasło:</label>
    <input type="password" id="create-account-password-input">
  </div>

  <div class="button-div">
    <button routerLink="/login">Zarejestruj</button>
  </div>
</form>
