/* You can add global styles to this file, and also import other style files */
@import 'colors.less';

html {
  background-color: @theme-dark-blue;
  font-family: Inter;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
}
