<h2>{{routeDetails.name}}</h2>

<app-image-swipe [imageUrls]="routeDetails.mainImagesUrls"></app-image-swipe>

<div class="route-rating-section">
  <app-star-rating [rating]="routeDetails.rating"></app-star-rating>
</div>

<div class="route-stats-section">
  <div class="route-distance">
    <div class="route-stats-title">
      Długość trasy
    </div>
    <div class="route-stats-icon">
      <i class="fa-solid fa-route"></i>
      {{routeDetails.distance}} km
    </div>
  </div>
  <div class="route-time">
    <div class="route-stats-title">
      Czas przejścia
    </div>
    <div class="route-stats-icon">
      <i class="fa-solid fa-clock"></i>
      {{routeDetails.time}} h
    </div>
  </div>
</div>

<div *ngIf="routeDetails.isVerified" class="route-stats-verified"><i class="fa-solid fa-circle-check"></i>Zweryfikowana</div>

<button class="comments-btn" [routerLink]="['/comments', routeDetails.id]">Komentarze</button>
<div [routerLink]="['/profile', routeDetails.authorId]" class="route-stats-author">Autor: {{routeDetails.authorName}}</div>

<hr>

<div class="route-description">
  <h3>Opis</h3>
  <div class="route-description-content" [ngClass]="{'collapsed': isDescriptionHidden}">
    {{routeDetails.description}}
  </div>

  <button class="route-description-show-btn" (click)="toggleDescription()">{{ isDescriptionHidden ? 'Wyświetl cały opis' : 'Schowaj opis'}}</button>
</div>

<button class="start-btn" [routerLink]="['/navigation', routeDetails.id]">Rozpocznij trasę</button>
