<h2>{{routeDetails.name}}</h2>

<div class="main-images-box">
  <img [src]="currentImage" alt="main-image">
  <button class="change_img_prev" (click)="prevImage()">&lt;</button>
  <button class="change_img_next" (click)="nextImage()">&gt;</button>
</div>

<div class="route-rating-section">
  <div class="route-score">
    <i class="fa-solid fa-star" [ngClass]="routeDetails.rating > 0.5 ? 'gold' : ''"></i>
    <i class="fa-solid fa-star" [ngClass]="routeDetails.rating > 1.5 ? 'gold' : ''"></i>
    <i class="fa-solid fa-star" [ngClass]="routeDetails.rating > 2.5 ? 'gold' : ''"></i>
    <i class="fa-solid fa-star" [ngClass]="routeDetails.rating > 3.5 ? 'gold' : ''"></i>
    <i class="fa-solid fa-star" [ngClass]="routeDetails.rating > 4.5 ? 'gold' : ''"></i>
    <a class="route-score-average gold">{{routeDetails.rating}}</a>
  </div>
</div>

<div class="route-stats-section">
  <div class="route-distance">
    <div class="route-stats-title">
      Długość trasy
    </div>
    <div class="route-stats-icon">
      <i class="fa-solid fa-route"></i>
      {{routeDetails.distance}} km
    </div>
  </div>
  <div class="route-time">
    <div class="route-stats-title">
      Czas przejścia
    </div>
    <div class="route-stats-icon">
      <i class="fa-solid fa-clock"></i>
      {{routeDetails.time}} h
    </div>
  </div>
</div>

<div *ngIf="routeDetails.isVerified" class="route-stats-verified"><i class="fa-solid fa-circle-check"></i>Zweryfikowana</div>
<div [routerLink]="['/profile', routeDetails.authorId]" class="route-stats-author">Autor: {{routeDetails.authorName}}</div>

<hr>

<h3>Opis</h3>
<div>
  <div [ngClass]="{'collapsed': isDescriptionHidden}">
    {{routeDetails.description}}
  </div>

  <button (click)="toggleDescription()">{{ isDescriptionHidden ? 'Wyświetl cały opis' : 'Schowaj opis'}}</button>
</div>

<button [routerLink]="['/comments', routeDetails.id]">Komentarze</button> <br>

<button [routerLink]="['/navigation', routeDetails.id]">Rozpocznij trasę</button>
