<div class="friend-profile-box">
  <div class="friend-profile-details">
    <img src="{{user.avatarUrl}}}" alt="avatar" class="link" [routerLink]="['/profile', user.userId]">
    <div>
      <div [routerLink]="['/profile', user.userId]" class="user-name link">{{user.userName}}</div>
      <div class="user-info">
        <div>z nami od {{howLongWithUs}} lat</div>
        <div *ngIf="user.routesCreated > 0">autor {{user.routesCreated}} tras</div>
        <div>Przeszedł: {{user.totalDistance}} km </div>
        <div>W ostatnim miesiącu: {{user.currentMonthDistance}} km </div>
      </div>
    </div>
  </div>
</div>
