<div class="friend-profile-box">
  <div class="friend-profile-details">
    <img src="{{user.avatarUrl}}}" alt="avatar">
    <div>
      <a routerLink="/profile">{{user.userName}}</a><br>
      <span>z nami od {{howLongWithUs}} lat</span><br>
      <span *ngIf="user.routesCreated > 0">autor {{user.routesCreated}} tras</span><br *ngIf="user.routesCreated > 0">
      <span>Przeszedł: {{user.totalDistance}} km </span> <br>
      <span>W ostatnim miesiącu: {{user.currentMonthDistance}} km </span>
    </div>
  </div>
</div>
